<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Branch</key>
	<string>origin/master</string>
	<key>BuildNumber</key>
	<string>2218</string>
	<key>Dependencies</key>
	<array>
	</array>
	<key>Name</key>
	<string>CreativeSDKAppLibraryUX</string>
	<key>SHA</key>
	<string>db737ccc34</string>
	<key>Version</key>
	<string>3.0</string>
</dict>
</plist>
